<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saharsh.newsfeed">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.saharsh.newsfeed.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newsicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.saharsh.newsfeed.NewsFeedActivity"></activity>
        <activity android:name="com.saharsh.newsfeed.SourceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.saharsh.newsfeed.NewsDetailsActivity" />
        <activity android:name="com.saharsh.newsfeed.MainActivity"></activity>
    </application>

</manifest>